<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title id="titulos">RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-title><h1>Profesor </h1> </ion-title> 
  <br/>
  <ion-input color="warning" label="Usuario" label-placement="floating" fill="solid" placeholder="Enter text"></ion-input>
  <br/>
  <ion-input color="warning" label="Contraseña" label-placement="floating" fill="solid" placeholder="Enter text" type="password"></ion-input>
  <br/>
  <ion-button [routerLink]="['/home']" color="warning">Ingresar</ion-button>
</ion-content>