<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="warning"><ion-text [routerLink]="['/home']">RegistrAPP</ion-text></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-col>
    <ion-row class="ion-justify-content-center">
        <div class="container">
          <ion-img src="https://i.postimg.cc/zDQ68Vt1/QR-lista.jpg">
          </ion-img>
        </div>
    </ion-row>
  </ion-col>
  <ion-col>
    <ion-row class="ion-justify-content-center">
      <div class="container">
        <ion-toolbar>
            <ion-button [routerLink]="['/index-profesor']" color="warning">Cerrar clases</ion-button>  
        </ion-toolbar>
      </div>
    </ion-row>
  </ion-col>
</ion-content>
