<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      RegistrAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>¡¡Bienvenidos!!</ion-card-title>
      <ion-card-subtitle>Somos RegistraAPP una apliacion movil para facilitar pasar la asistencia en clases de forma presencial</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> Elija que usuario es: </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/login']" color="warning">Estudiante</ion-button>  
      </ion-col>
      <ion-col> 
        <ion-button [routerLink]="['/login-profesor']" color="warning">Profesor</ion-button>
      </ion-col>
      
    </ion-row>
  </ion-grid>
  
</ion-content>
